/* 1. 레이아웃 방향, 크기(float, line-hi)
2. 글자, 이미지, 비디오
3. 여백
4. 순서로
*/
/* 전체 너비 1440px */

header {
  max-width: 1440px; height: 100px; margin: 0 auto;
  display: flex; justify-content: space-between; align-items: center;}
header h1 {}
header h1 a {}
header h1 a img {}
header nav {}
header nav > ul {display: flex;}
header nav > ul > li {
  margin-right:20px; position: relative;}
header nav > ul > li:last-child {margin: 0;}
header nav > ul > li > a {
  font-size:1.2rem; text-transform:uppercase;}
/* rem: 부모의 폰트 사이즈와 상관 없이!! 반응형에 적합한 글자크기 */
header nav > ul > li > .sub {position: absolute; display: flex;
  width: max-content;}
header nav > ul > li > .sub li {}
header nav > ul > li > .sub li a {/* white-space: nowrap; */} 
/* 부모에 width: max-content; 주는 것과 똑같음 . 부모한테 맥스 컨텐츠 주는 게 더 나음. 
  white-space는 글자에 주는 거*/
header .right {}
header .right a {}
/********************************** main **********************************/
main {}
main .path_bg {
  background: #f1f1f1; border: 1px solid #aaa; border-right: 0; border-left: 0;}
main .path_bg .path {max-width: 1440px; margin: 0 auto;
  text-align: right; padding: 12px 0;}
main .path_bg .path a {}
main .path_bg .path span {}   /* ctrl+H : 선택한 것들만 한 번에 바꿀 수 있음 */
main .container {text-align: center;}
main .container h1 {font-size: 3.13rem; font-weight: 700; margin: 74px 0 35px;}
main .container > p {font-weight: 300; letter-spacing: -2%; margin-bottom: 45px;}
/* = main .container h1+p {}/  이전형제+다음형제: 인접형제 선택자 */
main .container .bg {background: #f1f1f1; padding-top: 46px;}
main .container .bg > * {max-width: 1440px; margin: 0 auto;}
/* .bg > * : bg의 모든 자식들 */
main .container .bg p {line-height: 1.8; letter-spacing: -2%;}
main .container .bg p:nth-child(2) {margin: 45px auto 48px;}
main .container .bg h2 {margin: 94px auto 44px; font-size: 1.88rem;
  color: #36B4E5; letter-spacing: -2%;}
main .container .bg h2+p{line-height: 1.3; font-size: 2.19rem;}
/* main---------goal 시작 영역 */
main .container .bg ul {display: flex; justify-content: center;}
main .container .bg ul li {width: 250px; line-height: 250px; border-radius: 50%; margin-left: -25px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);}
main .container .bg ul li:nth-child(1) {background: #36B4E5;}
main .container .bg ul li:nth-child(2) {background: #FFFFFF;}
main .container .bg ul li:nth-child(3) {background: #F3C300;}
main .container .bg ul li span {font-size: 1.56rem; color: #fff; letter-spacing: -2%;}
main .container .bg ul li:nth-child(2) span {color: #000;}
